<section
  class="fixed left-1/2 top-36 z-50 w-full max-w-md -translate-x-1/2 px-4">

  <section
    class="w-full rounded-2xl border-2 border-black bg-white p-6 shadow-2xl">

    <h1
      class="mb-6 text-2xl font-bold text-slate-900">
      Witaj, jak możemy ci pomóc?
    </h1>

    <input
      type="search"
      placeholder="Szukaj"
      class="input input-bordered w-full border-orange-500 bg-white text-slate-900 placeholder:text-slate-400 focus:border-orange-500 focus:outline-none">

  </section>

</section>
