<div class="tlo-modala">
  <div class="karta-modala">
    <h2>Rejestracja</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="pole">
        <input type="text" placeholder="Imię" formControlName="firstName">
      </div>

      <div class="pole">
        <input type="text" placeholder="Nazwisko" formControlName="lastName">
      </div>

      <div class="pole">
        <input type="email" placeholder="Adres e-mail" formControlName="email">
      </div>

      <div class="pole">
        <input type="tel" placeholder="Numer telefonu" formControlName="phone">
      </div>

      <div class="pole">
        <input type="password" placeholder="Hasło" formControlName="password">
      </div>

      <button
        type="submit"
        class="btn !bg-[darkorange] !text-black !border-2 !border-white w-full">
        Rejestruj się
      </button>

      <button
        type="button"
        class="btn btn-outline border-black text-black w-full"
        (click)="onCancel()">
        Anuluj
      </button>
    </form>
  </div>
</div>