<!--<h1>Hello, World!</h1>-->

<header>  </header>
<nav>
  <section id="tło"> <!-- zbędne -->
  <section id="Main">

    <section>
      <img src="https://images.seeklogo.com/logo-png/36/2/global-logic-logo-png_seeklogo-360371.png" width="100" height="100" >
    </section>


    <section class="VerticalLine"></section>

    <button class="Main_Button">Tryb jasny</button>
    <section class="VerticalLine"></section>

    <button class="Main_Button" (click)="ShowSettings()">Pomoc</button>
    <section class="VerticalLine"></section>
    <!-- dodać click-->
    <button class="Main_Button" (click)="ShowLanguage()">{{ ChosenLanguage }}</button><!--  (click)="Zmien_jezyk()"-->



    <section id="Horizontal_Line">

    </section>


    <app-login></app-login>
    <button id="Link_To_Ticket" (click)="pokazG2()">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b3/Ikona_bilety.png?utm_source=pl.wikipedia.org&utm_campaign=index&utm_content=original" width="50px" height="50px">
<!--<a href="dalsze_menu">Przejdź do e-biletów</a>-->
      Przejdź do e-biletów
  </button>


  </section>



  </section>
</nav>

<main>


  @if(Show_TextMainSite == true){
  <h1> Już dziś zorganizuj swój dzień z Global Logic e-bilet</h1>
  }





  @if (ShowLanguage_Window && !ShowSettings_Window) {
    <app-zjezyki (ChangingLanguage)="ChangeLanguage($event)"></app-zjezyki>
  }



  @if (ShowSettings_Window && !ShowLanguage_Window) {
    <app-ustawienia></app-ustawienia>
  }

  @if (ShowSiteG2) {
    <app-strona-g2></app-strona-g2>
  }


</main>
<!--@if (pokazJezykiOkno && !pokazUstawieniaOkno && !pokazLogowanieOkno) {-->
<!--  <app-zjezyki></app-zjezyki>-->
<!--}-->
<!--przykład-->
