<div class="auth-actions">
  <button
    class="btn btn-warning text-white !border-2 !border-white btn-sm sm:btn-md shadow-md"
    type="button"
    (click)="PokazRejestracje()">
    Zarejestruj się
  </button>

  <button
    class="btn btn-warning text-white !border-2 !border-white btn-sm sm:btn-md shadow-lg"
    type="button"
    (click)="UseButton()">
    Zaloguj się
  </button>
</div>


@if (ShowForm1) {

  <div class="tlo-modala">
    <div class="karta-modala card border-2 border-orange-400">
      <h2>Logowanie</h2>

      <form (ngSubmit)="LoginUser()">
        <div class="pole">
          <input
            class="input input-bordered w-full bg-white text-black"
            type="email"
            placeholder="Adres e-mail"
            [(ngModel)]="email"
            name="email"
            required>
        </div>

        <div class="pole">
          <input
            class="input input-bordered w-full bg-white text-black"
            type="password"
            placeholder="Hasło"
            [(ngModel)]="password"
            name="password"
            required>
        </div>

        <button
          class="btn btn-warning text-black border-2 border-white !bg-orange-500 w-full"
          type="submit">
          Zaloguj
        </button>

        <button
          class="btn btn-outline border-black text-black w-full"
          type="button"
          (click)="UseButton()">
          Anuluj
        </button>
      </form>

    </div>

  </div>
}