<section id="Background"> <H1>Choose Language</H1>
  <input type="radio" name="Language" (change)="SelectLanguage('Polski')">
  PL - {{ PolishLa }}
  <img src="https://static.vecteezy.com/system/resources/previews/011/074/463/original/circle-flag-of-poland-free-vector.jpg">

  <section class="Horizontal_Line"></section> <br>
  <input type="radio" name="Language" (change)="SelectLanguage('Angielski')">
  GB - {{ EnglishLa }}
  <img src="https://static.vecteezy.com/system/resources/previews/045/832/855/non_2x/round-flag-of-uk-free-png.png">

  <section class="Horizontal_Line"></section>
  <input type="radio" name="Language" (change)="SelectLanguage('Niemiecki')">
  DE - {{ GermanLa }}
  <img src="https://static.vecteezy.com/system/resources/previews/011/571/346/original/circle-flag-of-germany-free-png.png">

  <section class="Horizontal_Line"></section>
  <input type="radio" name="Language" (change)="SelectLanguage('Francuski')">
  FR - {{ FrenchLa }}
  <img src="https://static.vecteezy.com/system/resources/previews/011/571/462/non_2x/circle-flag-of-france-free-png.png">

  <section class="Horizontal_Line"></section> </section>
