<section id="SectionForCategories">
<button (click)="CategoriesOption()" id="Categories1">Kategorie
  @if (Shown) {
    <img src="https://www.pngmart.com/files/23/Black-X-PNG-Pic.png" width="50px" height="50px">
  }
  @if (!Shown) {
    <img src="https://www.svgrepo.com/show/533653/chevron-down.svg" width="50px" height="50px">
  }
</button>


  <section id="SectionForCategories2">
@if (Shown) {
<!--  powstawiać do buttonów-->
<!--  (mouseenter)="ShowPage()"-->
  <button   (mouseenter)="ShowPage1()"   (mouseleave)="HidePage1()" class="ButtonsCategories" id="">Rozrywka</button>
  @if (HoverPage1) {
    <app-Enterteinment></app-Enterteinment>
  }

  <button  (mouseenter)="ShowPage2()"   (mouseleave)="HidePage2()" class="ButtonsCategories" id="">Podróż</button>
  @if (HoverPage2) {
    <app-Travel></app-Travel>
  }

 <button  (mouseenter)="ShowPage3()"   (mouseleave)="HidePage3()" class="ButtonsCategories" id="">Kultura
   @if (HoverPage3) {
     <app-Culture></app-Culture>
   }
 </button>
}



  </section>

</section>
