.LesserNavigationBar1{

  width: 90%;
  height: 200px;
  border:2px solid black;
  background-color: whitesmoke;
  border-radius: 10px
}


.Search_Button{
  border:2px solid darkorange;
  background-color: orange;
  border-radius: 10px
}

.GreyButton{
  border:2px solid dimgrey;
  background-color: white;
  border-radius: 10px;
  color:dimgrey;


}

.Hold_Info{


}
