@import "tailwindcss";
@plugin "daisyui";

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  background: cadetblue;
}

app-root {
  display: block;
  width: 100%;
  min-height: 100vh;
}
